$fondo : linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
$color-primary: #667eea;
$color-secundary: #764ba2;
$boton-padding: 20px 40px;

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    max-width: 1200px;
  }

.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
  }

  $width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

